<h1>New addition</h1>

<form action="/wizard_add">
  <label for="first_field">Add</label>
  <input type="text" id="first_field" name="first_field">

  <label for="second_field">to:</label>
  <input type="text" id="second_field" name="second_field">

  <button>Add!</button>
</form>
